/*! Global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    background-color: rgb(234, 239, 239);
    color: rgb(46, 45, 45);
    align-items: center;
    display: flex;
    flex-direction: column;
}


/*! Header  */
.head-title{
    font-size: 40px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color: rgb(0, 0, 0);
}

/*! Main card container  */
.card-container{

    font-size: 18px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    gap: 2rem;
    padding: 6rem;
    align-items: center;
    max-width: 800px;
    border-radius: 5px;
    background-color: rgb(230, 248, 248);


}

/*! All cards */
.card{
    text-align: center;
    background-color: rgb(194, 205, 205);
    border-radius: 5px;
    padding:2rem;
}

main textarea{
    border: none;
    border-radius: 5px;
    align-content: center;
    padding: .5rem;
}

.card button{
    padding: .5rem;
    border: none;
    border-radius: 5px;

}


/*! Entry card  */
#entry-card{
    font-size: 24px;
    padding: 2rem;
    background-color: rgb(188, 217, 227);
    border: 1px black solid;
}



/*! Card title */
/*! Card body */
.card-body{
    padding: 1rem;
}

.card-body h3{
    margin-bottom: 1.5rem;
}
/*! Card footer */
.card-footer{
    margin-bottom: 25px;
}
