/*! Global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    background-color: rgb(234, 239, 239);
    color: rgb(46, 45, 45);
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*! Header  */
.head-title{
    font-size: 50px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color: rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: -50px;
}

/*! Main card container  */
.card-container{
    font-size: 18px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    gap: 1rem;
    padding: 6rem;
    align-items: center;
    width: 100%;
    max-width: 900px;
    border-radius: 5px;
    margin: 0 auto;
}

/*! Card */
.card{
    border: 1px black solid;
    text-align: center;
    background-color: #556d80;
    border-radius: 12px;
    padding:2rem;
    box-shadow: 0 4px 10px rgb(166, 133, 133);
    transition: transform 02.s ease, box-shadow 0.2s ease;
}

.card:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 20px #406b8b;
}

main textarea{
    border: none;
    border-radius: 5px;
    align-content: center;
    padding: .5rem;

    outline: none;
}

main textarea:focus{
    box-shadow: 0 0 0 1px black;
}

.card button{
    margin-top: 1.5rem;
    padding: .5rem;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease,transform 02.s ease;
}
.card button:hover{
    background-color:#D2C1B6;
    transform: translateY(-2px);
}

.card button:active{
    transform: scale(.97);

}

.card button{
    padding: .5rem;
    border: none;
    border-radius: 5px;
}


/*! Entry card  */
#entry-card{
    font-size: 24px;
    padding: 2rem;
    border: 1px black solid;
}


/*! Card body */
.card-body{

    border-radius: 10px;
    padding: 1rem;
    background-color: #D2C1B6;
    padding: 1rem;

}

.card-body h3{
    margin-bottom: 1.5rem;
}


/*! Card footer */
.card-footer{
    margin-bottom: 25px;
}


/*! Js  */
/* Entry cards */
.entries-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}





/* No entry card */
.no-entry-card{
    background-color: #D2C1B6;
    width: 250px;
    height: 100px;
    border-radius: 5px;
    border: 2px black dotted;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn{
    from{opacity: 0; transform: translateY(5px);}
    to {opacity: 0.8; transform: translateY(0);}
}

.no-entry-text{
    font-size: 1rem;
    color: #222;
    font-weight: 500;
}